<a href="https://colab.research.google.com/github/AthThahiru/Laporan-Hasil-Praktikum-Week-3/blob/main/Week_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Output dasar python

In [ ]:
print("Python itu ular :p")
#print(objek= separator= end= file= flush=)

Python itu ular :p

In [ ]:
print("Hello guys")
print("\n")
print("\t")
print("Welcome back to my vlog")

Hello guys



Welcome back to my vlog

In [ ]:
import sys

sys.stdout.write("Hello guys") # sys ribet :p

Hello guys

In [ ]:
print("Pagi kak. ", end = "")  # perintah , end = "" untuk menaikkan kalimat yang dibawah
print("Hari ini hujan ya?")

Pagi kak. Hari ini hujan ya?

In [ ]:
print("Selamat tahun baru", 2023, "Sampai bertemu kembali" )
print("Selamat tahun baru", 2023, "Sampai bertemu kembali", sep= ". " )  # sep, "untuk menyisipkan kata pada setiap jeda atau apalah itu"

Selamat tahun baru 2023 Sampai bertemu kembali
Selamat tahun baru. 2023. Sampai bertemu kembali

In [ ]:
nomor      = -10.6
nama       = "Teknologi Informasi"


# Cetak biasa atau langsung
print(5)

# Cetak variabel
print(nomor)
print(nama)

5
-10.6
Teknologi Informasi

Cetak rangkaian kalimat yang digabungkan

In [ ]:
print("Teknologi Informasi " + "Universitas Tidar") # tanda + juga bisa untuk menggabung kan 2 kalimat

Teknologi Informasi Universitas Tidar

In [ ]:
x = (5)
y = (10)

print("Nilai x = {} dan nilai y = {}". format(x,y))  # kalo format pakenya titik ya jangan koma
print("Nilai x =", x , "dan nilai y =", y)           # enak semua si tapi kayaknya lebih simpel yang format ya?

Nilai x = 5 dan nilai y = 10
Nilai x = 5 dan nilai y = 10

### Input dasar dalam python

Sintaks input

In [ ]:
nomor = input("Silahkan masukkan nomar anda ")
print("Nomor anda adalah   :", nomor)
print("Type datanya adalah :", type(nomor))

# Mengapa type datanya masih str? Karena nomor termasuk huruf :p

Silahkan masukkan nomar anda 23
Nomor anda adalah   : 23
Type datanya adalah : <class 'str'>

In [ ]:
# Maka

nomor = int(input("Silahkan masukkan nomor anda: "))
print            ("Nomor anda adalah           :", nomor)
print            ("Type datanya adalah         :", type(nomor))

# Kode diatas jika dimasukkan huruf atau anga desimal bisa eror :v
# Kode int bisa diganti dengan str atau float menyesuaikan dengan kebutuhan

Silahkan masukkan nomor anda: 23
Nomor anda adalah           : 23
Type datanya adalah         : <class 'int'>

## Membaca File Python

Unduh data

In [ ]:
# Untuk nginstal Python :p

!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=6156ec8e94f589469c915983d16950824b669e4eba9cb6570188fe7f1c1e91cf
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Untuk mengunduh contoh file

!mkdir -p /resources/data
!wget  -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 01:33:54--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 01:33:54 (11.1 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

Membaca file teks

In [ ]:
# Blm smpet nyobain smua :p

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Latihan Mingguan 1

In [ ]:
# Membuat ddirectori
!mkdir -p  /resources/data

In [ ]:
# Menulis Biodata

with open   ("/resources/data/biodata.txt", "w") as file:
  file.write("Nama              : Muhammad Fikrie Ath Thahiru\n")
  file.write("Program Studi     : Teknologi Informasi\n")
  file.write("NPM               : 2420506044\n")
  file.write("Alamat            : Perum Bagongan Asri Jl. Pandawa A.05\n")
  file.write("Hobi              : Main Game & Membaca Novel\n")
  file.write("Email             : fikrie.kdsmgl@gmail.com\n")

In [ ]:
# Mendisplay Biodata

with open("/resources/data/biodata.txt", "r") as file:
  print(file.read())

Nama              : Muhammad Fikrie Ath Thahiru
Program Studi     : Teknologi Informasi
NPM               : 2420506044
Alamat            : Perum Bagongan Asri Jl. Pandawa A.05
Hobi              : Main Game & Membaca Novel
Email             : fikrie.kdsmgl@gmail.com

In [ ]:
# Mendisplay Nama, prodi, dan email

with open("/resources/data/biodata.txt", "r") as file:
  for line in file:
    if "Nama" in line or "Program Studi" in line or "Email" in line:
      print(line)

Nama              : Muhammad Fikrie Ath Thahiru

Program Studi     : Teknologi Informasi

Email             : fikrie.kdsmgl@gmail.com

In [ ]:
# Mengambil data dan menyimpannya ke dalam file baru

with open("/resources/data/biodata.txt", "r") as file1:
  with open("/resources/data/biodata1.txt", "w") as file2:
    for line in file1:
      if "Nama" in line or "NPM" in line or "Program Studi" in line or "Alamat" in line:
        file2.write(line)

In [ ]:
# Menampilkan isi file baru:v

with open("/resources/data/biodata1.txt", "r") as file:
  print(file.read())

Nama              : Muhammad Fikrie Ath Thahiru
Program Studi     : Teknologi Informasi
NPM               : 2420506044
Alamat            : Perum Bagongan Asri Jl. Pandawa A.05

## Latihan Mingguan 2

In [ ]:

print   ("Selamat datang di Toko Maju Jaya")
print   ("Senin, 4 September 2023 13.05")

print   ("\n")

print   ("DAFTAR BELANJA :")

# Variabel item

item1   = "Sabun"
item2   = "Shampo"
item3   = "Mie Instan"
item4   = "Deterjen"

# Variabel harga

harga1  = 10000
harga2  = 15000
harga3  = 5000
harga4  = 17500

# Proses data

total   = harga1 + harga2 + harga3 + harga4

# Output

print   (item1, "     = Rp"  , harga1)
print   (item2, "    = Rp"   , harga2)
print   (item3, "= Rp"       , harga3)
print   (item4, "  = Rp"     , harga4)

print   ("\n")

print   ("Total      = Rp"   , total)

with open("Kuitansi.txt", "w") as writefile:
  writefile.write("Selamat Datang di Toko Maju Jaya\n")
  writefile.write("\n")
  writefile.write("Kuitansi - September 2023\n")
  writefile.write("\n")
  writefile.write(item1 + "      = Rp" + str(harga1) + "\n")
  writefile.write(item2 + "     = Rp"  + str(harga2) + "\n")
  writefile.write(item3 + " = Rp"      + str(harga3) + "\n")
  writefile.write(item4 + "   = Rp"    + str(harga4) + "\n")
  writefile.write("\n")
  writefile.write("Total       = Rp"   + str(total)  + "\n")

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13.05


DAFTAR BELANJA :
Sabun      = Rp 10000
Shampo     = Rp 15000
Mie Instan = Rp 5000
Deterjen   = Rp 17500


Total      = Rp 47500